@font-face {
    font-family: Petita;
    src: url(../fonts/PetitaMedium/PetitaMedium.ttf);
}
body {
    font-family: Petita !important;
    background-image: url(../images/bg.png);
    background-color: #000 !important;
}
#page {
    padding-top: 60px;
    color: #ddd;
}
.text-center {
    text-align: center;
}
.hint {
    font-size: 0.9em;
    font-style: italic;
}
#footer {
    font-size: 0.9em;
}
h3, h4 {
    font-weight: normal !important;
}
.form-actions {
    background: transparent !important;
    border: none !important;
}
.modal {
    color: #222;
}
legend {
    color: #ddd !important;
}

.index-events {
    margin: 20px;
    border-top: #999 1px solid;
    padding: 10px;
}
.index-events .index-event {
    border: #999 1px solid;
    background-color: rgba(255,255,255,0.7);
    padding: 20px;
    font-size: 1.2em;
    color: #222;
    min-height: 620px;
    max-width: 300px;
}
.index-events .index-event img {
    width: 300px;
    margin-bottom: 10px;
}
.index-event span.event-signed,
.index-event span.event-no-signed,
.index-event span.event-backups-signed {
    float: right;
    font-weight: bold;
}
span.event-start-date {
    color: indigo;
}
span.event-end-date {
    color: indigo;
}
span.event-no-signed {
    color: darkred;
}
span.event-signed {
    color: darkgreen;
}
.archetype-tank,
.archetype-healer,
.archetype-dps,
.archetype-backup {
    padding: 3px;
    background-color: blue;
}
.archetype-healer {
    background-color: green;
}
.archetype-dps {
    background-color: red;
}
.archetype-backup {
    background-color: none;
}